.activities-section {
    background-color: var(--main-white-color);
}

.activities {
    display: flex;
}

.activity + .activity {
    margin-left: var(--ul-items-gap);
}

.activity {
    flex-basis: calc(( 100% - 60px) / 3);

    &__title {
        font-size: 14px;
        line-height: calc(16 / 14);
        text-transform: uppercase;
    }

    &__link {
        position: relative;
        text-align: center;
        font-weight: 700;
        color: var(--main-white-color);
    }
    
    &__overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 70px;
        padding-top: 27px;
        background-color: rgba(47, 48, 58, 0.8);
    }
}