.clients {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
        transition-property: border;
        transition-duration: var(--transition-dur);
        transition-timing-function: var(--transition-function);

        @media screen and (min-width: $mobile) {
            width: 210px;
        }

        @media screen and (min-width: $tablet) {
            width: 226px;
        }
        
        @media screen and (min-width: $desktop) {
            width: 170px;
        }
    }

    &__icon {
        width: 106px;
        height: 60px;
    }
}

.clients__link svg {
    transition-property: fill;
    transition-duration: var(--transition-dur);
    transition-timing-function: var(--transition-function);
}

.clients__link:hover svg,
.clients__link:focus svg {
    fill: var(--accent-color);
}

.clients__link:hover,
.clients__link:focus {
    border: 1px solid var(--accent-color);
}