.features-section {
    background-color: var(--main-white-color);

    @media screen and (min-width: $desktop) {
        padding-bottom: 0;
    }
}

.features {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.feature {
     @media screen and (min-width: $tablet) and (max-width: 1199px) {
         flex-basis: calc((100% - 30px) / 2);     
     }

     @media screen and (min-width: $desktop) {
         flex-basis: calc((100% - 90px) / 4);     
     }

    &__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14px;
        line-height: calc(16 / 14);
        letter-spacing: 0.03em;
        text-transform: uppercase;
        
        @media screen and (max-width: 767px) {
            text-align: center; 
        }
    }

    &__image {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px;
        margin-bottom: 30px;
        background-color: #F5F4FA;
        
        @media screen and (min-width: $mobile) and (min-width: 767px) {
            width: 450px;
        }
    
        @media screen and (min-width: $tablet) and (max-width: 1199px) {
            width: 354px;
        }
    
        @media screen and (min-width: $desktop) {
            width: 270px;
        }
    }

    &__icon {
        width: 70px;
        height: 70px;
    }

    &__descr {
        font-size: 14px;
        line-height: calc(24 / 14);
        letter-spacing: 0.03em;
        color: var(--another-text-color);
    }
}