.logo {
    display: block;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
}

.logo-header {
    align-self: center;
    margin-right: 93px;
    color: var(--logo-color);
}

.logo-web {
    color: var(--accent-color);
}

.logo-footer {
    margin-bottom: 20px;
    color: var(--main-white-color);
}