.social-links-list {    
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 10px;
}

.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: var(--transition-dur);
    transition-timing-function: var(--transition-function);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
}

.team-social-link svg {
    transition-property: fill;
    transition-duration: var(--transition-dur);
    transition-timing-function: var(--transition-function);
}

.team-social-link:hover svg,
.team-social-link:focus svg {
    fill: var(--main-white-color);
}

.social-link-icon {
    width: 20px;
    height: 20px;
}

.footer-social-links {
    @media screen and (max-width: 767px) {
        margin-bottom: 60px;      
    }
   
    @media screen and (min-width: $desktop) {
        margin-left: 70px;      
    }
}

.footer-socials-link {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-socials-link svg {
    fill: var(--main-white-color);
}