img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    font-family: Roboto, sans-serif;
    color: var(--main-text-color);
}

.activities-section__title,
.team-section-title,
.clients-section__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: calc(32 / 28);
    text-align: center;
    letter-spacing: 0.03em;

    @media screen and (min-width: $desktop) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: calc(42 / 36);
    }
}

.btn {
    cursor: pointer;
}

.icon {
    fill: var(--main-icon-color);
}