:root {
    --main-text-color: #212121;
    --another-text-color: #757575;
    --accent-color: #2196F3;
    --main-white-color: #FFFFFF;
    --logo-color: #000000;
    --bgr-color: #F5F4FA;
    --main-bgr-color: #2F303A;
    --bgr-second-color: #F5F5F5;
    --contacts-link-color: rgba(255, 255, 255, 0.6);
    --main-icon-color: #AFB1B8;
    --active-btn-bgr: #188CE8;
    --ul-items-gap: 30px;
    --transition-dur: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
}